<div class="ui inverted large borderless fixed fluid menu column">
  <a class="header item" href="/">{{ site_title }}</a>
  <div class="right menu">
    <div class="ui dropdown item">
      <div class="header">
        <h4>MENU　</h4>
      </div>
      <i class="share square icon"></i>
      <div class="menu">
        <div class="item">
          <small>
            <i class="th icon"></i>
            記事を書く
          </small>
        </div>
        <div class="item">
          <small>
            <i class="clipboard outline icon"></i>
            USER NAME
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
